
/* @tailwind base;
@tailwind components; */
@tailwind utilities;


@layer components {
  .btn {
    @apply px-4 py-2 rounded-md bg-blue-500 text-white font-medium hover:bg-blue-600;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
